{{#section "css"}}
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
{{/section}}

{{#section "js"}}
<script type="module">
	import CustomMap from "/static/js/map/CustomMap.js";
	import { contentAd, contentReport } from "/static/js/loadMarker.js";

	function getAdsData(id) {
		var result = [];
		$.ajax({
			url: "advertisement/find-all-by-location/" + id,
			async: false,
			success: function (data) {
				result = data;
			}
		});
		return result;
	}

	function onMapChange(returnData) {
		// Reset tab content to default
		$("#nav-ads").html("Chưa có thông tin về điểm đặt và bảng quảng cáo");
		$("#nav-report").html("Chưa có thông tin về báo cáo của người dân");

		// If no returnData then user click X on infoWindow
		if (!returnData) return;
		// Else continue

		// Advertisement and location
		if (!returnData.typeReport) {
			const adsData = getAdsData(returnData._id)

			// Handle data change
			const adsButton = document.querySelector('button[id="nav-ads-tab"]')

			// Reformat data
			returnData.zoning = returnData.zoning === true ? "Đã quy hoạch" : "Chưa quy hoạch"

			// Big card
			const card = document.createElement("div");
			card.style.height = "100%";
			card.style.display = "flex";
			card.style.flexDirection = "column";

			// Upper card
			const upperCard = document.createElement("div");
			upperCard.classList.add("card");
			upperCard.innerHTML = `	
			<div class="card-header" style="display: flex; justify-content: space-between;">
				<h5> Thông tin điểm đặt quảng cáo </h5>
				<a class="btn link-primary" href="/advertisement/ad-location/${returnData._id}" role="button">
					<i class="bi bi-eye"></i>
					Chi tiết
				</a>
			</div>
			<div class="card-body">
				<div> <b>Địa chỉ: </b> ${returnData.address} </div>
				<div> <b>Loại vị trí đặt quảng cáo: </b> ${returnData.type} </div>
				<div> <b>Loại hình quảng cáo: </b> ${returnData.format.name} </div>
				<div> <b>Thông tin quy hoạch: </b> ${returnData.zoning} </div>
			</div>
		`;

			// Lower card
			const lowerCard = document.createElement("div");
			lowerCard.classList.add("card", "mt-2");
			lowerCard.style.flexGrow = "1";
			lowerCard.style.overflow = "auto";
			const lowerCardHeader = document.createElement("h5");
			lowerCardHeader.classList.add("card-header");
			lowerCardHeader.innerHTML = "Thông tin các bảng quảng cáo";
			lowerCard.appendChild(lowerCardHeader);

			const lowerCardBody = document.createElement("div");
			lowerCardBody.classList.add("card-body");
			lowerCardBody.style.overflowY = "scroll";
			lowerCardBody.style.padding = "0px";
			const rowBody = document.createElement("div");
			rowBody.classList.add("d-flex", "flex-wrap");

			for (const item of adsData) {
				const unitCard = document.createElement("div");
				unitCard.classList.add("p-2", "m-2");
				unitCard.style.width = 'calc(50% - 16px)';
				unitCard.classList.add("card");
				unitCard.innerHTML = `
				<h5> ${item.typeBoard} </h5>
				<div> <b>Số lượng: </b> ${item.number} </div>
				<div> <b>Kích thước: </b> ${item.size} </div>
				<div style="display: flex; justify-content: space-between;">
					<div></div>
					<a class="btn link-primary" href="/advertisement/manage/${item._id}" role="button">
						<i class="bi bi-eye"></i>
						Chi tiết
					</a>
			</div>
			`;
				rowBody.appendChild(unitCard);
			}

			if (adsData.length === 0) {
				const emptyCard = document.createElement("div");
				emptyCard.classList.add("p-2", "m-2");
				emptyCard.innerHTML = "Chưa có thông tin về bảng quảng cáo";
				rowBody.appendChild(emptyCard);
			}

			lowerCardBody.appendChild(rowBody);
			lowerCard.appendChild(lowerCardBody);

			// Append to big card
			card.appendChild(upperCard);
			card.appendChild(lowerCard);

			// Append to tab content
			$("#nav-ads").html(card);
		}
		// Report 
		else {
			const reportButton = document.querySelector('button[id="nav-report-tab"]')
			const card = document.createElement("div");

			card.classList.add("card");
			card.innerHTML = `
			<div class="card-header" style="display: flex; justify-content: space-between;">
				<h5> Thông tin báo cáo </h5>
				<a class="btn link-primary" href="/report/manage/${returnData._id}" role="button">
					<i class="bi bi-eye"></i>
					Chi tiết
				</a>
			</div>
			<div class="card-body">
				<div> <b>Tên người gửi: </b> ${returnData.name} </div>
				<div> <b>Số điện thoại: </b> ${returnData.phone} </div>
				<div> <b>Địa điểm báo cáo: </b> ${returnData.address} </div>
				<div> <b>Loại báo cáo: </b> ${returnData.typeReportName} </div>
				<div style="display: flex; justify-content: space-between;">
					${returnData.imgs}
				</div>
			</div>`;
			$("#nav-report").html(card);
		}
	}

	const HomeMap = new CustomMap();
	const locationList = {{{ json locations }}};
	const reportList = {{{ json reports }}}
	HomeMap.init(onMapChange).then(async () => {
		for (const location of locationList) {
			const contentString = contentAd(location);
			await HomeMap.pushAdMarker(location, location.address, contentString);
		}
		for (const report of reportList) {
			const contentString = contentReport(report);
			await HomeMap.pushReportMarker(report, report.address, contentString);
		}
		HomeMap.setAdCluster();
	});
</script>
{{/section}}

<div class="container-fluid vh-100" style="padding-top: 60px">
	<div class="row">
		{{! Left side }}
		<div class="col-6 p-0">
			<div id="map" style="width: 100%; height: calc(100vh - 60px)"></div>
		</div>

		{{! Right side }}
		<div class="col-6 p-0 px-2 pt-2" style="height: calc(100vh - 120px)">
			{{! Button nav }}
			<div class="btn-group nav nav-tabs w-100" role="group">
				<button class="btn btn-outline-primary active" id="nav-ads-tab" data-bs-toggle="tab"
					data-bs-target="#nav-ads" type="button" role="tab" aria-selected="true">Thông tin vị trí</button>
				<button class="btn btn-outline-primary" id="nav-report-tab" data-bs-toggle="tab"
					data-bs-target="#nav-report" type="button" role="tab" aria-selected="false">Báo cáo của người
					dân</button>
			</div>

			{{! Tab content }}
			<div class="mt-3 w-100">
				<div class="tab-content" id="nav-tab-content">
					<div class="tab-pane show active" id="nav-ads" role="tabpanel" tabindex="0">
						Chưa có thông tin về điểm đặt và bảng quảng cáo
					</div>
					<div class="tab-pane" id="nav-report" role="tabpanel" tabindex="0">
						Chưa có thông tin về báo cáo của người dân
					</div>
				</div>
			</div>
		</div>
	</div>
</div>