{{#section "css"}}
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
{{/section}}

{{#section "js"}}
<script type="module">
	import CustomMap from "/static/js/map/CustomMap.js";
	import { contentAd } from "/static/js/loadMarker.js";

	function onMapChange(returnData) {
		$("#map-return-data").html(JSON.stringify(returnData));
	}

	const HomeMap = new CustomMap();
	const list = {{{ json locations }}};
	HomeMap.init(onMapChange).then(() => {
		for (const location of list) {
			const contentString = contentAd(location);
			HomeMap.pushAdMarker(location, location.address, contentString);
		}
		HomeMap.setAdCluster();
		// Enable catch selected marker function
		HomeMap.catchSelectedLocation();
	});
</script>
{{/section}}

<div class="container-fluid vh-100" style="padding-top: 60px">
	<div id="map" style="height: 80%"></div>
	<h3>Return data</h3>
	<div id="map-return-data">Chọn 1 địa điểm bất kỳ</div>
</div>