{{#section "css"}}
	<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
{{/section}}

{{#section "js"}}
	<script>
    if (window.location.hash === '#_=_'){
        history.replaceState 
            ? history.replaceState(null, null, window.location.href.split('#')[0])
            : window.location.hash = '';
    }
    </script>
	<script type="module" src="/static/js/vwHome/loadMap.js"></script>
{{/section}}

<div class="container-fluid vh-100" style="padding-top: 60px">
	<div id="map" style="height: 80%"></div>
	<h3>Return data</h3>
	<div id="map-return-data">Chọn 1 địa điểm bất kỳ</div>
</div>