<form action="/wards" method="post">
    <div class="form-group">
        <label for="wardID">Ward ID</label>
        <input type="text" class="form-control" id="wardID" name="id" required>
    </div>
    <div class="form-group">
        <label for="districtID">District ID</label>
        <input type="text" class="form-control" id="districtID" name="districtID" required>
    </div>
    <div class="form-group">
        <label for="newName">New Ward Name</label>
        <input type="text" class="form-control" id="newName" name="newName" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>