<tr>
    <td colspan="10" class="text-center p-4">
        <h6 class="card-subtitle text-muted ">
            {{#if message}}
            {{message}}
            {{else}}
            Chưa có thông, hãy tạo mới
            {{/if}}
        </h6>
    </td>
</tr>