<nav class="navbar navbar-expand-md navbar-default fixed-top navbar-light border-bottom border-2 bg-white">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand mb-0 h1" href="javascript:;">
                AMO
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Trang chủ</a>
                </li>
                {{#ifCond authUser.role '==' '3'}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Hành chánh
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin/officers">Cán bộ</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/admin/area">Khu vực</a></li>
                    </ul>
                </li>
                {{/ifCond}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Quảng cáo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/advertisement/manage">Điểm đặt và Bảng quảng cáo</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/report">Báo cáo vi phạm</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    Chào,
                    <b>{{authUser.username}}</b>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="/account/profile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <form method="post" action="/account/logout">
                            <button type="submit" class="dropdown-item text-danger">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Đăng xuất
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>