{{#section "js"}}
<script type="module">
	import CustomMap from "/static/js/map/CustomMap.js";
	import { contentAd } from "/static/js/loadMarker.js";
	import { readAsDataURL, checkFilesSize, updateHidden, updatePreview } from '/static/js/handleImgs.js'; 
	function onMapChange(returnData) {
		// Hide alert 
		$('#alert').prop("hidden", true);
		// If it has '_id' then it comes from database 
		// If it doesn't have '_id' then it comes from google map 
		if (returnData && returnData.hasOwnProperty("_id")) {
			const address = returnData.address;
			const locationId = returnData._id;
			$("#address").attr("value", address);
			$("#locationId").attr("value", locationId);
			$('button[type="submit"]').removeClass('disabled')
		}
	}
	const HomeMap = new CustomMap();
	const list = {{{ json locations }}};
	HomeMap.init(onMapChange).then(async () => {
		for (const location of list) {
			const contentString = contentAd(location);
			await HomeMap.pushAdMarker(location, location.address, contentString);
		}
		HomeMap.setAdCluster();
		HomeMap.map.addListener("click", (event) => {
			$("#address").attr("value", "");
			$("#locationId").attr("value", "");
			$('#alert').prop("hidden", false);
			$('button[type="submit"]').addClass('disabled')
		});
	})

	$('input#file').on('change', async function (e) {
		var files = Array.from(e.currentTarget.files);
		if (files.length && checkFilesSize([], files)) {
			var images = await Promise.all(files.map((file) => {
				return readAsDataURL(file);
			}));

			updatePreview(images)
			updateHidden(images)
		}
	});
</script>
<script>
	$(".disabled").on('keydown paste focus mousedown', function (e) {
		if (e.keyCode != 9) // ignore tab 
			e.preventDefault();
	});
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
	$('#start').datetimepicker({
		timepicker: false,
		format: 'd/m/Y',
		mask: true,
		scrollMonth: false,
		scrollInput: false
	});
	$('#end').datetimepicker({
		timepicker: false,
		format: 'd/m/Y',
		mask: true,
		scrollMonth: false,
		scrollInput: false
	});
</script>
{{/section}}
{{#section "css"}}
<style>
	.disabled {
		pointer-events: none;
		background-color: #e9ecef;
	}
</style>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
{{/section}}

<form id="form-create-request" class="d-flex flex-column" style="gap: 1rem" method="post">

	<div class="d-flex justify-content-between">
		<h4 id="step-name">Chọn điểm đặt quảng cáo</h4>
		<div class="text-primary">Bước 1/3</div>
	</div>

	<!-- Hidden input for locationId -->
	<input type="hidden" id="locationId" name="location" />

	<div id="map" style="height:300px; width:100%"></div>
	<!-- Địa chỉ điểm đặt quảng cáo input -->
	<div class="form-outline">
		<label class="form-label">Điểm đặt quảng cáo
			<span class="text-danger">*</span>
		</label>
		<input type="text" id="address" class="form-control border-2 disabled"
			placeholder="Vui lòng chọn 1 điểm trên bản đồ" name="address" readonly />
	</div>

	<div class="d-flex justify-content-between">
		<h4 id="step-name">Tạo bảng quảng cáo</h4>
		<div class="text-primary">Bước 2/3</div>
	</div>
	<!-- Loại bảng quảng cáo input -->
	<div class="form-outline">
		<label for="typeBoard" class="form-label">Loại bảng quảng cáo
			<span class="text-danger">*</span></label>
		<select class="form-select border-2" name="typeBoard" id="typeBoard">
			<option value="Trụ bảng hiflex">Trụ bảng hiflex</option>
			<option value="Trụ màn hình điện tử LED">Trụ màn hình điện tử LED</option>
			<option value="Trụ hộp đèn">Trụ hộp đèn</option>
			<option value="Bảng hiflex ốp tường">Bảng hiflex ốp tường</option>
			<option value="Màn hình điện tử ốp tường">Màn hình điện tử ốp tường</option>
			<option value="Trụ treo băng rôn dọc">Trụ treo băng rôn dọc</option>
			<option value="Trụ treo băng rôn ngang">Trụ treo băng rôn ngang</option>
			<option value="Trụ/Cụm pano">Trụ/Cụm pano</option>
			<option value="Cổng chào">Cổng chào</option>
			<option value="Trung tâm thương mại">Trung tâm thương mại</option>
		</select>
	</div>
	<div id="hiddenImgsInput"></div>
	<!-- Kích thước và số lượng input -->
	<div class="form-outline ">
		<div class="row g-3">
			<div class="col">
				<label class="form-label" for="number">Số lượng
					<span class="text-danger">*</span>
				</label>
				<input type="text" id="number" class="form-control border-2" name="number" placeholder="1 trụ/ 1 bảng"
					required />
			</div>
			<div class="col">
				<label class="form-label" for="size">Kích thước
					<span class="text-danger">*</span>
				</label>
				<input type="text" id="size" class="form-control border-2" name="size" placeholder="1m x 2m" required />
			</div>
		</div>
	</div>
	<!-- Upload hình ảnh bảng quảng cáo -->
	<div class="form-outline ">
		<label class="form-label" for="type">Hình ảnh bảng quảng cáo
			<span class="text-danger">*</span>
		</label>
		<input type="file" id="file" class="form-control border-2" name="file" aria-describedby="fileHelp"
			accept="image/*" multiple required />
		<div id="fileHelp" class="invalid-feedback">
			Tổng dung lượng các hình tối đa 10MB.
		</div>
	</div>
	<div class=" row flex-nowrap overflow-auto" id="preview">
	</div>

	<!-- Thời gian hợp đồng -->
	<div class="form-outline ">
		<div class="row g-3">
			<div class="col">
				<label class="form-label" for="start">Ngày bắt đầu
					<span class="text-danger">*</span>
				</label>
				<input type="text" id="start" class="form-control border-2" name="start" required />
			</div>
			<div class="col">
				<label class="form-label" for="end">Ngày kết thúc
					<span class="text-danger">*</span>
				</label>
				<input type="text" id="end" class="form-control border-2" name="end" required />
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-between">
		<h4 id="step-name">Thông tin công ty</h4>
		<div class="text-primary">Bước 3/3</div>
	</div>
	<!-- Tên công ty input -->
	<div class="form-outline">
		<label class="form-label" for="comName">Tên công ty
			<span class="text-danger">*</span></label>
		<input type="text" id="comName" class="form-control border-2" placeholder="Công ty ABC" name="comName"
			required />
	</div>
	<!-- Tên Email input -->
	<div class="form-outline">
		<label class="form-label" for="comEmail">Email <span class="text-danger">*</span></label>
		<input type="email" name="comEmail" id="comEmail" class="form-control border-2"
			placeholder="fit@hcmus.edu.vn" />
	</div>
	<!-- Phone -->
	<div class="form-outline">
		<label class="form-label" for="comPhone">Phone <span class="text-danger">*</span></label>
		<input type="text" name="comPhone" id="comPhone" class="form-control border-2" placeholder="0909123456"
			required />
	</div>
	<!-- Địa chỉ -->
	<div class="form-outline">
		<label class="form-label" for="comAddress">Địa chỉ <span class="text-danger">*</span></label>
		<input type="text" id="comAddress" class="form-control border-2" placeholder="227 Nguyễn Văn Cừ"
			name="comAddress" />
	</div>
	<div class="text-end">
		<button type="submit" class="btn btn-primary disabled">
			<i class="bi bi-send"></i>
      		Gửi yêu cầu
		</button>
	</div>
</form>