{{#section "js"}}
	<script type="module" src="/static/js/vwLocations/loadMap.js"></script>
{{/section}}
<h4>Danh sách điểm đặt quảng cáo</h4>
<div id="map" style="height:300px; width:100%"></div>
<div class="form-outline">
	<label class="form-label" for="address">Điểm đặt quảng cáo</label>
	<input
		type="text"
		id="address"
		class="form-control border-2 bg-white"
		placeholder="Vui lòng chọn 1 điểm trên bản đồ"
		name="address"
		disabled
	/>
</div>

<!-- Khu vực điểm đặt quảng cáo input -->
<div class="form-outline">
	<label class="form-label" for="area">Khu vực</label>
	<input
		type="text"
		id="area"
		class="form-control border-2 bg-white"
		placeholder="Vui lòng chọn 1 điểm trên bản đồ"
		name="area"
		disabled
	/>
</div>

<!-- PlaceID input -->
<div class="form-outline">
	<label class="form-label" for="place_id">Place ID</label>
	<input
		type="text"
		id="place_id"
		class="form-control border-2 bg-white"
		placeholder="Vui lòng chọn 1 điểm trên bản đồ"
		name="place_id"
		disabled
	/>
</div>