<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center"
    style="padding-top: 60px">
    <h1 class="display-1 fw-bold">403</h1>
    <p class="fs-3"> <span class="text-danger">Lỗi! </span>Hạn chế quyền truy cập.</p>
    <h2>Bạn không có quyền truy cập trang này</h2>
    <a class="btn btn-primary mt-4" style="width: max-content" href="/home"><i class="bi bi-house-fill"></i>Trangchủ</a>
</div>