<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <h3 class="fs-3"> <span class="text-danger">Lỗi! </span>Không tìm thấy trang này.</h3>
        <div class="text-secondary">
            Trang mà bạn đang truy cập dường như không tồn tại
        </div>
        <a class="btn btn-primary mt-4" style="width: max-content" href="/home"> <i class="bi bi-caret-left"></i>Trở
            về</a>
    </div>
</div>