{{#if success_message}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if err_message}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{err_message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div class="modal fade" id="failConfirmPwd" tabindex="-1" aria-labelledby="failModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="failModalLabel">Lỗi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="text-error"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<form id="frmChangePwd" method="post">
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Nhập mật khẩu hiện tại</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nhập mật khẩu mới</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
</form>

{{#section 'js'}}
<script>
    $('#frmChangePwd').on('submit', function(e) {
        e.preventDefault();
        var currentPassword = $('#currentPassword').val();
        var confirmPassword = $('#confirmPassword').val();
        var newPassword = $('#newPassword').val();

        if(currentPassword == newPassword) {
            $('#failConfirmPwd').modal('show');
            $('#text-error').text('Mật khẩu mới không được trùng với mật khẩu hiện tại');
            return;
        }

        if (confirmPassword != newPassword) {
            $('#failConfirmPwd').modal('show');
            $('#text-error').text('Mật khẩu không trùng khớp');
            event.preventDefault();
            return;
        }

        $('#frmChangePwd').off('submit').submit();
    })
</script>
{{/section}}