{{#if success_message}}
<div class="alert alert-success" role="alert">
    {{success_message}}
</div>
{{/if}}
{{#if err_message}}
<div class="alert alert-danger" role="alert">
    {{err_message}}
</div>
{{/if}}

<form id="frmChangePwd" method="post">
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Nhập mật khẩu hiện tại</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nhập mật khẩu mới</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
</form>

{{#section 'js'}}
<script>
    $('#frmChangePwd').on('submit', function(e) {
        e.preventDefault();
        var currentPassword = $('#currentPassword').val();
        var confirmPassword = $('#confirmPassword').val();
        var newPassword = $('#newPassword').val();

        if(currentPassword == newPassword) {
            alert('Mật khẩu mới không được trùng với mật khẩu cũ');
            return;
        }

        if (confirmPassword != newPassword) {
            alert('Xác nhận mật khẩu không đúng');
            return;
        }

        $('#frmChangePwd').off('submit').submit();
    })
</script>
{{/section}}