<div class="container-fluid h-100" style="margin-top: 60px">
	<div class="row h-100">
		<div class="col-3 border-end border-2 p-4">
			<h4>Tài khoản</h4>
			<ul class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action" href="javascript:;">
					Thông tin cá nhân
				</a>
				<a class="list-group-item list-group-item-action" href="javascript:;">
					Đổi mật khẩu
				</a>
				<a class="list-group-item list-group-item-action" href="javascript:;">
					Liên kết
				</a>
				<form id="frmLogout" method="post" action="/account/logout">
					<a class="list-group-item list-group-item-action text-danger" href="javascript:$('#frmLogout').submit()">
						Đăng xuất
					</a>
				</form>
			</ul>
		</div>
		<div class="col-9 border-left border-2 p-4">
			<div class="d-flex align-items-center">
				<h3>Thông tin cá nhân</h3>
				<a class="list-group-item ms-4" href="#">
					<i class="fa fa-edit" aria-hidden="true"></i>
					Edit
				</a>
			</div>
			<form class="row g-3 needs-validation">
				<div class="form-outline">
					<label class="form-label" for="login-email"><b>Email</b></label>
					<input
						type="email"
						id="login-email"
						class="form-control border-2"
						placeholder="Nhập đúng định dạng email"
						name="email"
						disabled
					/>
				</div><div class="form-outline">
					<label class="form-label" for="login-email"><b>Họ tên</b></label>
					<input
						type="email"
						id="login-email"
						class="form-control border-2"
						placeholder="Nhập đúng định dạng email"
						name="email"
						disabled
					/>
				</div>
				{{! Các thông tin khác }}
			</form>
		</div>
	</div>
</div>