<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotPassword Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/36e2579864.js" crossorigin="anonymous"></script>
    <style>
        body {
            height: 100vh;
        }

        #submit {
            background-color: #3B71CA;
        }

        .otp-field {
            flex-direction: row;
            column-gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .otp-field input {
            height: 45px;
            width: 42px;
            border-radius: 6px;
            outline: none;
            font-size: 1.125rem;
            text-align: center;
            border: 1px solid #ddd;
        }

        .otp-field input:focus {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        }

        .otp-field input::-webkit-inner-spin-button,
        .otp-field input::-webkit-outer-spin-button {
            display: none;
        }

        .resend {
            font-size: 12px;
        }

        .footer {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: black;
            font-size: 12px;
            text-align: right;
            font-family: monospace;
        }

        .footer a {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    {{#if err_message}}
    <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{err_message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            onclick="$('#alert').hide();"></button>
    </div>
    {{/if}}
    <section class="container-fluid bg-body-tertiary d-block h-100">
        <div class="row justify-content-center align-item-center">
            <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
                <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                    <div class="card-body p-5 text-center">
                        <h4>Xác nhận</h4>
                        <p>Mã của bạn đã được gửi cho bạn qua email</p>

                        <form id="form" method="post">
                            <div class="otp-field mb-4">
                                <input name="num1" type="number" />
                                <input name="num2" type="number" disabled />
                                <input name="num3" type="number" disabled />
                                <input name="num4" type="number" disabled />
                                <input name="num5" type="number" disabled />
                                <input name="num6" type="number" disabled />
                            </div>


                            <button type="submit" id="submit" class="btn btn-primary mb-3">
                                Xác nhận
                            </button>
                        </form>

                        <p class="text-muted mb-0">
                            Không nhận được mã?
                        <form id="resend" action="/account/sendOTP" method="post">
                            <button type="submit" class="btn btn-link">Gửi lại</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            const inputs = $(".otp-field > input");
            const button = $("#submit");

            inputs.first().focus();
            button.attr("disabled", "disabled");

            inputs.first().on("paste", function (event) {
                event.preventDefault();

                const pastedValue = event.originalEvent.clipboardData.getData("text");
                const otpLength = inputs.length;

                for (let i = 0; i < otpLength; i++) {
                    if (i < pastedValue.length) {
                        inputs[i].value = pastedValue[i];
                        $(inputs[i]).removeAttr("disabled");
                    } else {
                        inputs[i].value = ""; // Clear any remaining inputs
                    }
                }
            });

            inputs.each(function (index1, input) {
                $(input).on("keyup", function (e) {
                    const currentInput = $(input);
                    const nextInput = currentInput.next();
                    const prevInput = currentInput.prev();

                    if (currentInput.val().length > 1) {
                        currentInput.val("");
                        return;
                    }

                    if (nextInput && nextInput.attr("disabled") && currentInput.val() !== "") {
                        nextInput.removeAttr("disabled");
                        nextInput.focus();
                    }

                    if (e.key === "Backspace") {
                        inputs.each(function (index2, input) {
                            if (index1 <= index2 && prevInput) {
                                $(input).attr("disabled", true);
                                $(input).val("");
                                prevInput.focus();
                            }
                        });
                    }

                    button.removeClass("active");
                    button.attr("disabled", "disabled");

                    const inputsNo = inputs.length;
                    if (!$(inputs[inputsNo - 1]).attr("disabled") && $(inputs[inputsNo - 1]).val() !== "") {
                        button.addClass("active");
                        button.removeAttr("disabled");
                    }
                });
            });
        });
    </script>
</body>

</html>