{{#section "js"}}
<script type="module">
	import CustomMap from "/static/js/map/CustomMap.js";
	import { contentAd } from "/static/js/loadMarker.js";

	function onMapChange(returnData) {
		// Hide alert
		$('#alert').prop("hidden", true);

		// If it has '_id' then it comes from database
		// If it doesn't have '_id' then it comes from google map
		// If no returnData then user click X on infoWindow
		if (!returnData || returnData.hasOwnProperty("_id")) {
			$("#address").attr("value", "");
			$("#place_id").attr("value", "");
			$("#latlng").attr("value", "");

			// If that point exists in database, show alert
			if (returnData)
				$('#alert').prop("hidden", false);
		} else {
			const address = returnData.formatted_address;
			const place_id = returnData.place_id;
			$("#address").attr("value", address);
			$("#place_id").attr("value", place_id);
			$("#latlng").attr("value", JSON.stringify(returnData.geometry.location));
		}
	}

	const HomeMap = new CustomMap();
	const list = {{{ json locations }}};
	HomeMap.init(onMapChange).then(async () => {
		for (const location of list) {
			const contentString = contentAd(location);
			await HomeMap.pushAdMarker(location, location.address, contentString);
		}
		HomeMap.setAdCluster();
		// Enable catch selected marker function
		HomeMap.catchSelectedLocation();
	})
</script>
<script>
	$(".disabled").on('keydown paste focus mousedown', function (e) {
		if (e.keyCode != 9) // ignore tab
			e.preventDefault();
	});
</script>
{{/section}}

{{#section "css"}}
<style>
	.disabled {
		pointer-events: none;
		background-color: #e9ecef;
	}
</style>
{{/section}}

<a class="btn p-0 link-primary" href="/advertisement/ad-location" role="button">
	<i class="bi bi-caret-left"></i>
	Trở về
</a>

<div class="alert alert-danger mt-3" role="alert" id="alert" hidden>
	Vui lòng chọn điểm đặt quảng cáo khác với điểm đặt quảng cáo đã có!
</div>

<h4 class="mt-3">Tạo mới điểm đặt quảng cáo</h4>
<div id="map" style="height:300px; width:100%"></div>

<form method="POST">
	<!-- Địa chỉ điểm đặt quảng cáo input -->
	<div class="form-outline mt-3">
		<label class="form-label" for="address">Điểm đặt quảng cáo <div style="display:inline; color:red">*</div>
		</label>
		<input type="text" id="address" class="form-control border-2 disabled"
			placeholder="Vui lòng chọn 1 điểm trên bản đồ" name="address" required />
	</div>

	<!-- Hidden input for latlng -->
	<input type="hidden" id="latlng" name="coordinate" />

	<!-- Loại vị trí input -->
	<div class="form-outline mt-3">
		<label class="form-label" for="type">Loại vị trí <div style="display:inline; color:red">*</div></label>
		<input type="text" id="type" class="form-control border-2 bg-white" placeholder="Vui lòng nhập tên loại vị trí"
			name="type" required />
	</div>

	<div class="form-outline mt-3">
		<label class="form-label" for="description">Loại hình quảng cáo <div style="display:inline; color:red">*</div>
		</label>
		<select class="form-select" name="format" required>
			{{#each list}}
			<option value={{_id}}>{{name}}</option>
			{{/each}}
		</select>
	</div>

	<div class="text-end">
		<button type="submit" class="btn btn-primary mt-3">
			<i class="bi bi-plus-lg"></i>
			Tạo mới
		</button>
	</div>
</form>